In [1]:
//val baby_names = sqlContext.read.format("com.databricks.spark.csv").option("header","true").load("/home/nagulraj/tact/datasets/babynames.csv")

Intitializing Scala interpreter ...

Spark Web UI available at http://100.127.146.162:4040
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1649181622027)
SparkSession available as 'spark'

<console>: 23: error: not found: value sqlContext

In [11]:
import org.apache.spark.sql.SparkSession

import org.apache.spark.sql.SparkSession

In [22]:
val baby_names = spark.read.option("header","true").option("inferSchema", "true").csv("/home/nagulraj/tact/datasets/babynames.csv")

baby_names: org.apache.spark.sql.DataFrame = [Year: int, First Name: string ... 3 more fields]

In [24]:
 baby_names.registerTempTable("names")

In [26]:
val distinctYears = spark.sql("select distinct Year from names").show()

+----+
|Year|
+----+
|2007|
|2018|
|2015|
|2013|
|2014|
|2012|
|2009|
|2016|
|2010|
|2011|
|2008|
|2017|
+----+

distinctYears: Unit = ()

In [27]:
baby_names.printSchema

root
 |-- Year: integer (nullable = true)
 |-- First Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Count: integer (nullable = true)

In [28]:
val popular_names = spark.sql("select distinct(`First Name`), count(County) as cnt from names group by `First Name` order by cnt desc LIMIT 10").show()

+----------+---+
|First Name|cnt|
+----------+---+
|      EMMA|468|
|    OLIVIA|439|
|     LOGAN|433|
|     JACOB|420|
|     MASON|417|
|      LIAM|402|
|  ISABELLA|400|
|      NOAH|399|
|    SOPHIA|396|
|       AVA|385|
+----------+---+

popular_names: Unit = ()

In [29]:
val popular_names = spark.sql("select distinct(`First Name`), sum(Count) as cnt from names group by `First Name` order by cnt desc LIMIT 10").show()

+----------+-----+
|First Name|  cnt|
+----------+-----+
|   MICHAEL|15534|
|     JACOB|14442|
|  ISABELLA|13979|
|    SOPHIA|13796|
|   MATTHEW|13795|
|    JOSEPH|13498|
|    OLIVIA|13427|
|     ETHAN|13211|
|      EMMA|12941|
|    JAYDEN|12718|
+----------+-----+

popular_names: Unit = ()

In [9]:
//val baby_names = SparkSession.read.option("header","true").csv("/home/nagulraj/tact/datasets/babynames.csv")

<console>: 24: error: value read is not a member of object org.apache.spark.sql.SparkSession

In [19]:
//val df = spark.read.csv("/home/nagulraj/tact/datasets/babynames.csv")
 //df.printSchema()

<console>: 2: error: ';' expected but '#' found.