In [1]:
val source_df = spark.read.option("header", "true").option("multiLine", "true").csv("file:/home/nagulraj/tact/datasets/user-2022-01-05.csv")

Intitializing Scala interpreter ...

Spark Web UI available at http://100.127.70.34:4040
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1648138177187)
SparkSession available as 'spark'

source_df: org.apache.spark.sql.DataFrame = [sno: string, username: string ... 1 more field]

In [2]:
source_df.show

+---+--------------------+--------------------+
|sno|            username|             address|
+---+--------------------+--------------------+
|  0|     William Compton|6495 Kevin Creek\...|
|  1|      Thomas Leblanc|37825 Cline Canyo...|
|  2|          Gary Reyes|3262 Kimberly Par...|
|  3|         Sarah Wells|770 Perry Plains\...|
|  4|     Robert Williams|6378 Lee Skyway\n...|
|  5|        Gregory Holt|USS Webb\nFPO AA ...|
|  6|       Sarah Freeman|99073 Owens Pine ...|
|  7|          Mary Reese|PSC 7506, Box 354...|
|  8|         Kevin Garza|46505 Hardy Divid...|
|  9|          John Clark|91330 Galloway Ho...|
| 10|Christopher Bower...|22627 Christina G...|
| 11|       Daniel Snyder|991 Brandon Hollo...|
| 12|    Phillip Petersen|4855 Eric Crest A...|
| 13|       Matthew Smith|56157 Mitchell St...|
| 14|       Sarah Fuentes|911 Wright Estate...|
| 15|          Ryan Myers|975 Brown Village...|
| 16|          Paige Bell|75283 Carter Spri...|
| 17|        Derek Grimes|611 Wheeler Squar...|
| 18|      Angela Hawkins|8516 Jones Loop\n...|
| 19|         Colin Reyes|Unit 6490 Box 946...|
+---+--------------------+--------------------+
only showing top 20 rows

In [22]:
val df1 = source_df.select("sno","username")
df1.show

+---+--------------------+
|sno|            username|
+---+--------------------+
|  0|     William Compton|
|  1|      Thomas Leblanc|
|  2|          Gary Reyes|
|  3|         Sarah Wells|
|  4|     Robert Williams|
|  5|        Gregory Holt|
|  6|       Sarah Freeman|
|  7|          Mary Reese|
|  8|         Kevin Garza|
|  9|          John Clark|
| 10|Christopher Bower...|
| 11|       Daniel Snyder|
| 12|    Phillip Petersen|
| 13|       Matthew Smith|
| 14|       Sarah Fuentes|
| 15|          Ryan Myers|
| 16|          Paige Bell|
| 17|        Derek Grimes|
| 18|      Angela Hawkins|
| 19|         Colin Reyes|
+---+--------------------+
only showing top 20 rows

df1: org.apache.spark.sql.DataFrame = [sno: string, username: string]

In [23]:
val df2 = source_df.select("sno","address")
df2.show

+---+--------------------+
|sno|             address|
+---+--------------------+
|  0|6495 Kevin Creek\...|
|  1|37825 Cline Canyo...|
|  2|3262 Kimberly Par...|
|  3|770 Perry Plains\...|
|  4|6378 Lee Skyway\n...|
|  5|USS Webb\nFPO AA ...|
|  6|99073 Owens Pine ...|
|  7|PSC 7506, Box 354...|
|  8|46505 Hardy Divid...|
|  9|91330 Galloway Ho...|
| 10|22627 Christina G...|
| 11|991 Brandon Hollo...|
| 12|4855 Eric Crest A...|
| 13|56157 Mitchell St...|
| 14|911 Wright Estate...|
| 15|975 Brown Village...|
| 16|75283 Carter Spri...|
| 17|611 Wheeler Squar...|
| 18|8516 Jones Loop\n...|
| 19|Unit 6490 Box 946...|
+---+--------------------+
only showing top 20 rows

df2: org.apache.spark.sql.DataFrame = [sno: string, address: string]

In [27]:
val newDF = df1.map(f=>{
val nameSplit = f.getAs[String](1).split(" ")
val addSplit = f.getAs[String](0).split(",")
     (addSplit(0),nameSplit(0),nameSplit(1))
    })

newDF: org.apache.spark.sql.Dataset[(String, String, String)] = [_1: string, _2: string ... 1 more field]

In [31]:
val finalDF = newDF.toDF("sno","FirstName","LastName")
finalDF.show

+---+-----------+--------+
|sno|  FirstName|LastName|
+---+-----------+--------+
|  0|    William| Compton|
|  1|     Thomas| Leblanc|
|  2|       Gary|   Reyes|
|  3|      Sarah|   Wells|
|  4|     Robert|Williams|
|  5|    Gregory|    Holt|
|  6|      Sarah| Freeman|
|  7|       Mary|   Reese|
|  8|      Kevin|   Garza|
|  9|       John|   Clark|
| 10|Christopher|  Bowers|
| 11|     Daniel|  Snyder|
| 12|    Phillip|Petersen|
| 13|    Matthew|   Smith|
| 14|      Sarah| Fuentes|
| 15|       Ryan|   Myers|
| 16|      Paige|    Bell|
| 17|      Derek|  Grimes|
| 18|     Angela| Hawkins|
| 19|      Colin|   Reyes|
+---+-----------+--------+
only showing top 20 rows

finalDF: org.apache.spark.sql.DataFrame = [sno: string, FirstName: string ... 1 more field]

In [32]:
val df = df2.as("df2").join(finalDF.as("finalDF"), df1("sno") === finalDF("sno")).select("df2.sno", "finalDf.FirstName", "finalDF.LastName", "df2.address")
df.show()

+---+-----------+--------+--------------------+
|sno|  FirstName|LastName|             address|
+---+-----------+--------+--------------------+
|  0|    William| Compton|6495 Kevin Creek\...|
|  1|     Thomas| Leblanc|37825 Cline Canyo...|
|  2|       Gary|   Reyes|3262 Kimberly Par...|
|  3|      Sarah|   Wells|770 Perry Plains\...|
|  4|     Robert|Williams|6378 Lee Skyway\n...|
|  5|    Gregory|    Holt|USS Webb\nFPO AA ...|
|  6|      Sarah| Freeman|99073 Owens Pine ...|
|  7|       Mary|   Reese|PSC 7506, Box 354...|
|  8|      Kevin|   Garza|46505 Hardy Divid...|
|  9|       John|   Clark|91330 Galloway Ho...|
| 10|Christopher|  Bowers|22627 Christina G...|
| 11|     Daniel|  Snyder|991 Brandon Hollo...|
| 12|    Phillip|Petersen|4855 Eric Crest A...|
| 13|    Matthew|   Smith|56157 Mitchell St...|
| 14|      Sarah| Fuentes|911 Wright Estate...|
| 15|       Ryan|   Myers|975 Brown Village...|
| 16|      Paige|    Bell|75283 Carter Spri...|
| 17|      Derek|  Grimes|611 Wheeler Squar...|
| 18|     Angela| Hawkins|8516 Jones Loop\n...|
| 19|      Colin|   Reyes|Unit 6490 Box 946...|
+---+-----------+--------+--------------------+
only showing top 20 rows

df: org.apache.spark.sql.DataFrame = [sno: string, FirstName: string ... 2 more fields]

In [30]:
df.show

+---+--------------------+---+-----------+---------+
|sno|             address|sno| First Name|Last Name|
+---+--------------------+---+-----------+---------+
|  0|6495 Kevin Creek\...|  0|    William|  Compton|
|  0|6495 Kevin Creek\...|  1|     Thomas|  Leblanc|
|  0|6495 Kevin Creek\...|  2|       Gary|    Reyes|
|  0|6495 Kevin Creek\...|  3|      Sarah|    Wells|
|  0|6495 Kevin Creek\...|  4|     Robert| Williams|
|  0|6495 Kevin Creek\...|  5|    Gregory|     Holt|
|  0|6495 Kevin Creek\...|  6|      Sarah|  Freeman|
|  0|6495 Kevin Creek\...|  7|       Mary|    Reese|
|  0|6495 Kevin Creek\...|  8|      Kevin|    Garza|
|  0|6495 Kevin Creek\...|  9|       John|    Clark|
|  0|6495 Kevin Creek\...| 10|Christopher|   Bowers|
|  0|6495 Kevin Creek\...| 11|     Daniel|   Snyder|
|  0|6495 Kevin Creek\...| 12|    Phillip| Petersen|
|  0|6495 Kevin Creek\...| 13|    Matthew|    Smith|
|  0|6495 Kevin Creek\...| 14|      Sarah|  Fuentes|
|  0|6495 Kevin Creek\...| 15|       Ryan|    Myers|
|  0|6495 Kevin Creek\...| 16|      Paige|     Bell|
|  0|6495 Kevin Creek\...| 17|      Derek|   Grimes|
|  0|6495 Kevin Creek\...| 18|     Angela|  Hawkins|
|  0|6495 Kevin Creek\...| 19|      Colin|    Reyes|
+---+--------------------+---+-----------+---------+
only showing top 20 rows